.header__nav-link_active {
  margin-right: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #b6bcbf;
  cursor: url('../../../../../../images/Hand-pointer.svg'), pointer;
  border-bottom: 2px solid white;
  color: white;
  padding-bottom: 25px;
}
