.footer__social-icons {
  display: flex;
  align-items: center;
  margin: 30px 106px;
  gap: 28px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .footer__social-icons {
    margin: 24px 40px 18px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 600px) {
  .footer__social-icons {
    margin: 20px 16px;
    align-items: flex-start;
  }
}
