.savedNewsHeader__container {
  display: flex;
  flex-direction: column;
  margin: 0 104px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .savedNewsHeader__container {
    margin: 0 40px;
  }
}

@media screen and (max-width: 580px) {
  .savedNewsHeader__container {
    margin: 0 16px;
  }
}
