.SearchForm__bar {
  position: relative;
  margin: 0 auto;
  padding-top: 88px;
}

@media screen and (max-width: 600px) {
  .SearchForm__bar {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }
}
