.SearchForm__bar-search {
  position:absolute;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: white;
  padding: 22px 70px;
  cursor: url('../../../../../images/Hand-pointer.svg'), pointer;
  right: -4px;
  border: none;
}
.SearchForm__bar-search:hover{
  background: #347EFF;
}
.SearchForm__bar-search:active{
  background: #2A65CC;
}

@media screen and (max-width: 768px) {
  .SearchForm__bar-search {
    right: 0px;
  }
}
@media screen and (max-width:600px) {
  .SearchForm__bar-search {
    position: relative;
    margin: 16px 0px;
  }
}