.SearchForm__text {
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  padding-top: 32px;
}

@media screen and (max-width: 768px) {
  .SearchForm__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 600px) {
  .SearchForm__text {
    margin: 0 16px;
  }
}
