.mobile__nav-button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  padding: 10px 50px;
  cursor: url('../../../../images/Hand-pointer.svg'), pointer;
}

@media screen and (max-width: 1000px) {
  .mobile__nav-button {
    font-size: 16px;
    padding: 10px 30px;
    line-height: 15px;
  }
}
