.about__image{
    margin: 80px 56px 80px 104px;
}

@media screen and (max-width:768px) {
    .about__image {
        margin: 40px 61px 32px;
        width: 232px;
        height: 232px;
    }
  }

  @media screen and (max-width:580px) {
    .about__image {
        margin:32px auto 24px;
        width: 272px;
        height: 272px;
    }
  }