.SearchForm__title {
  font-family: 'Roboto Slab', sans-serif;
  display: table-cell;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  margin: 0 auto;
  max-width: 608px;
}

@media screen and (max-width: 768px) {
  .SearchForm__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .SearchForm__title {
    width: none;
    margin: 0 19px;
  }
}
