.footer__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}
