.header__nav{
    display: flex;
    margin:0 104px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header__nav {
       min-height: 66px;
       margin: 0 40px;
    }
}

@media screen and (max-width: 580px) {
    .header__nav {
       display: none;
    }
}