.preloader__text {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  margin-top: 24px;
  padding: 0px;
}
