.header__nav-mobile-button_closed{
    background-image: url('../../../../../../images/close-mobile-menu.png');
    background-position: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-right: 16px;
    border: none;
}