.footer__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width:768px) {
  .footer__nav {
    gap: 20px;
  }
}

@media screen and (max-width:580px) {
  .footer__nav {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin:20px 16px;
  }
}