.header__logo{
    margin: 0 104px;
}

@media screen and (max-width: 768px) {
    .header__logo {
       margin:0 40px;
    }
}
@media screen and (max-width: 580px) {
    .header__logo {
        margin:0 16px;
    }
}