.newsCard__text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.375;
  margin: 16px 24px;
  max-height: 110px;
  max-width: 352px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: black;
}

@media screen and (max-width: 768px) {
  .newsCard__text {
    margin: 10px 15px;
    height: 88px;
    max-width: 192px;
  }
}

@media screen and (max-width: 600px) {
  .newsCard__text {
    max-width: 100%;
  }
}
