.about__container{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-bottom: 80px;
}

@media screen and (max-width: 620px) {
    .about__container {
       flex-direction: column;
       margin: 0 auto;
       padding: 0px;
    }
}