.navigation__nav-button_dark{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    cursor: url('../../../../../../images/Hand-pointer.svg'), pointer;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 100px;
    gap: 15px;
    justify-content: center;
}