.navigation__nav-link {
  margin-right: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: black;
  cursor: url('../../../../../images/Hand-pointer.svg'), pointer;
}

.navigation__nav-link:focus {
  border-bottom: 3px solid black;
  line-height: 75px;
}

@media screen and (max-width: 768px) {
  .navigation__nav-link {
    font-size: 16px;
  }
}
