.about__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 131px 0px 0px;
}

@media screen and (max-width: 768px) {
  .about__title {
    margin: 40px 0px 0px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 580px) {
  .about__title {
    margin: 0 16px;
  }
}
