.user-form__input {
  border: none;
  border-bottom: 1px solid #0000007a;
  margin-bottom: 31px;
  background-color: white;
  color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.user-form__input:focus{
    outline: none;
}
