.header__nav-mobile-button_dark {
  background-image: url('../../../../../../images/menu-icon_dark.svg');
  background-size: 100%;
  color: white;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  margin: 16px;
  display: none;
}

@media screen and (max-width: 620px) {
  .header__nav-mobile-button_dark {
    display: block;
  }
}
