.savedNews__cards {
  margin: 62px 0px;
  display: grid;
  grid-template-rows: repeat(1, minmax(282px, 1fr));
  gap: 16px;
  grid-template-columns: repeat(3, minmax(361px, 1fr));
  padding: 0px;
}
.savedNews__cards {
  display: grid;
  grid-template-rows: repeat(1, minmax(576px, 1fr));
  gap: 16px;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
}

@media screen and (max-width:768px) {
  .savedNews__cards {
    margin: 32px 0px;
    display: grid;
    grid-template-rows: repeat(1, minmax(420px, 1fr));
    gap: 8px;
    grid-template-columns: repeat(3, minmax(224px, 1fr));
  }
}
@media screen and (max-width:580px) {
  .savedNews__cards {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(440px, 1fr));
    gap: 10px;
    grid-template-columns: repeat(1, minmax(288px, 1fr));
  }
}